In [1]:
3+2

5

In [2]:
5-3

2

In [3]:
3*2

6

In [4]:
5/2

2.5

In [5]:
5%3

2

In [6]:
5^2

7

In [7]:
5**2

25

In [8]:
clas = 2016

In [9]:
clas

2016

In [10]:
vari = 1

In [12]:
strin = "hello"

In [16]:
flt = 1.5

In [14]:
type(vari)

int

In [17]:
type(flt)

float

In [18]:
type(strin)

str

In [19]:
bol = True

In [20]:
type(bol)

bool

In [24]:
li = [10,20,30,40,50]

In [27]:
li[1:2]

[20]

In [26]:
li[1:2]

[20]

In [28]:
li[1]

20

In [29]:
li[0:3]

[10, 20, 30]

In [31]:
li[0:2]

[10, 20]

In [32]:
li[-2]

40

In [33]:
li[0:-2]

[10, 20, 30]

In [39]:
li[-2:]

[40, 50]

In [40]:
li_2 = [60,70,80]

In [41]:
print(li + li_2)

[10, 20, 30, 40, 50, 60, 70, 80]

In [42]:
lli = li + li_2

In [60]:
for x in lli:
    if x > 15: 
        print(x)
        '/n'

20
30
40
50
60
70
80

In [45]:
lli[]>15

SyntaxError: invalid syntax (<ipython-input-45-9a2628c0515f>, line 1)

In [47]:
li

[10, 20, 30, 40, 50]

TypeError: '>' not supported between instances of 'list' and 'int'

In [52]:
lli>15

TypeError: '>' not supported between instances of 'list' and 'int'

In [53]:
print(lli>15)

TypeError: '>' not supported between instances of 'list' and 'int'

In [54]:
35 in lli

False

In [55]:
30 in lli

True

In [56]:
print(30 in lli)

True

In [57]:
li.append(li_2)

In [58]:
li

[10, 20, 30, 40, 50, [60, 70, 80]]

In [64]:
li[5][2]

80

In [65]:
li[5][1]

70

In [66]:
li[5][0]

60

In [67]:
range(1,10,2)

range(1, 10, 2)

In [95]:
print(range(1,10))

range(1, 10)

In [69]:
range(1,3)

range(1, 3)

In [96]:
lli2= list(range(1,11))

In [97]:
lli+lli2

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [75]:
lii.append(lli2)

NameError: name 'lii' is not defined

In [91]:
lli.append(lli2)

In [78]:
lli

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [102]:
print(lli)

[10, 20, 40, 50, 60, 70, 80, [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10], [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10], [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10]]

In [81]:
lli[8][6] = "madhu"

In [92]:
lli[8][6]

'madhu'

In [101]:
del lli[2]

In [100]:
li

[10, 20, 50, [60, 70, 80]]

In [93]:
list(range(0,-1,2))

[]

In [94]:
print(list(range(0,-1,2)))

[]

In [103]:
li[0::2]

[10, 50]

In [104]:
lli[0::2]

[10, 40, 60, 80, [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10]]

In [105]:
lli

[10,
 20,
 40,
 50,
 60,
 70,
 80,
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10]]

In [106]:
del lli[2]

In [107]:
lli

[10,
 20,
 50,
 60,
 70,
 80,
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 'madhu', 8, 9, 10]]

In [108]:
lst1 = (1,2,3,4,5,6,7,8,9,10)

In [109]:
lst2 = (1,2,3,4,5,6,7,8,9,10)

In [110]:
lst1[0::2]

(1, 3, 5, 7, 9)

In [111]:
lst[0:1]

NameError: name 'lst' is not defined

In [112]:
lst1(-1::2)

SyntaxError: invalid syntax (<ipython-input-112-4d1846f6ead1>, line 1)

In [113]:
lst1(-1::)

SyntaxError: invalid syntax (<ipython-input-113-e043fae0f476>, line 1)

In [114]:
lst1[-1::2]

(10,)

In [115]:
lst1[-2::-2]

(9, 7, 5, 3, 1)

In [116]:
lst1[-1::-2]

(10, 8, 6, 4, 2)

In [117]:
lst1[-1::]

(10,)

In [119]:
lst100 = list(range(100))

In [120]:
lst100

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [121]:
lst100[-5::-5]

[95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [123]:
lst100[-4::-6]

[96, 90, 84, 78, 72, 66, 60, 54, 48, 42, 36, 30, 24, 18, 12, 6, 0]

In [124]:
tup = (1,2,3,4)

In [125]:
tup

(1, 2, 3, 4)

In [128]:
tup[0,4]

TypeError: tuple indices must be integers or slices, not tuple

In [131]:
tup[:3]

(1, 2, 3)

In [132]:
tup[:3] = 3

TypeError: 'tuple' object does not support item assignment

In [137]:
fru = {"fruits":["mango","apple","pineapple"],"animals":["lion","tiger","elephant"]}

In [138]:
fru

{'fruits': ['mango', 'apple', 'pineapple'],
 'animals': ['lion', 'tiger', 'elephant']}

In [139]:
fru.values

In [140]:
fru.values()

dict_values([['mango', 'apple', 'pineapple'], ['lion', 'tiger', 'elephant']])

In [142]:
fru.keys()

dict_keys(['fruits', 'animals'])

In [143]:
fru.items()

dict_items([('fruits', ['mango', 'apple', 'pineapple']), ('animals', ['lion', 'tiger', 'elephant'])])

In [149]:
fru["fruits"][1] = "no fruit"

In [150]:
fru["fruits"][1]

'no fruit'

In [151]:
fru

{'fruits': ['mango', 'no fruit', 'pineapple'],
 'animals': ['lion', 'tiger', 'elephant']}

In [153]:
lstrep = (1,3,4,2,3,4,5,7,1,2)

In [154]:
lstrep

(1, 3, 4, 2, 3, 4, 5, 7, 1, 2)

In [155]:
lstrep.count

In [156]:
set(lstrep)

{1, 2, 3, 4, 5, 7}

In [171]:
person = 60

In [175]:
if person < 30:
    print("no ticket")
elif person > 30 and person < 50 :
        print("ticket price is 30")
else :
        print("ticket is 50")

ticket price is 30

In [182]:
len(lst100)

100

In [183]:
max(lst100)

99

min(100)

In [184]:
[max(lst100)]

[99]

In [188]:
[max(lstrep)]

[7]

In [1]:
ten = [91:100]

SyntaxError: invalid syntax (<ipython-input-1-c6cd2fd70005>, line 1)

In [2]:
ten = [91::100]

SyntaxError: invalid syntax (<ipython-input-2-19943684f52a>, line 1)

In [3]:
ten = list[range (91:100)]

SyntaxError: invalid syntax (<ipython-input-3-2ab4d5aa01a8>, line 1)

In [4]:
ten = [range(91:100)]

SyntaxError: invalid syntax (<ipython-input-4-0910d88fb5aa>, line 1)

In [5]:
ten = [range(91,100)]

In [6]:
ten

[range(91, 100)]

In [7]:
range(1,100)

range(1, 100)

In [13]:

for x in range(91,101):
    
    
    if x%2 == 0 :
        print(x)
    else :
        print("odd")

odd
92
odd
94
odd
96
odd
98
odd
100

In [15]:
list(range(91, 101))

[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [16]:
list(range(91,100))

[91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
ten = list(range(91,100))

In [18]:
for x in ten:
    ten[1]

In [19]:
ten[2]

93

In [21]:
for x in ten.len:
    print(ten[x])

IndexError: list index out of range